player-connection-mode=Listen
player-connection-guid=2207906620
player-connection-debug=0
player-connection-project-name=DreamBreaker
player-connection-ip=192.168.0.109
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=UnityOpenXR
xr-meta-enabled=1
xr-vulkan-extension-fragment-density-map-enabled=1
build-guid=ff493d50d73d42e1822812ced827ec16
