player-connection-mode=Listen
player-connection-guid=2761980190
player-connection-debug=0
player-connection-project-name=DreamBreaker
player-connection-ip=192.168.0.109
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=OculusXRPlugin
xr-meta-enabled=1
xr-vulkan-extension-fragment-density-map-enabled=1
build-guid=92b64e6584b14add9b0de2cd4b3af734
